.mod-text {
  font-size: 19px;
  text-align: left;
}

.text-align {
  text-align: center;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tooltip {
  line-height: 17px;
  text-align: center;
}

.table-bg {

}

a {
  color: rgb(130, 180, 226);
}

p {
  font-size: 15px;
}

.info {
  font-size: 15px;
  width: 50%;
  /* word-spacing: -5px; */
}

.info-table {
  font-size: 15px;
  width: 50%;
  line-height: 2px;
  text-align: left;
}

select {
  height: 35px;
  width: 125px;
}

.table-bg-alt {
  background-color: rgb(61, 60, 60);
}

.modifier-table {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
